*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(https://img.freepik.com/vetores-gratis/arvore-isolada-no-fundo-branco_1308-26130.jpg);
    height: 100vh;
    background-repeat: no-repeat;
}





